.settings
.project
target
**/.settings
**/.classpath
**/.eclipse
**/.project
**/target
**/**/target
**/bin
**/**/target
**/**/.classpath
**/.idea
*.iws
*.ipr
*.iml
**/.ipr
**/.iml
**/.iws
**/.idea
**/**/target
*.versionsBackup
